[Unit]
Description=Tentacle Web Dashboard
Documentation=https://github.com/joyautomation/tentacle
After=tentacle-graphql.service
Requires=tentacle-nats.service

[Service]
Type=simple
EnvironmentFile=/opt/tentacle/config/tentacle.env
WorkingDirectory=/opt/tentacle/services/tentacle-web
ExecStart=/opt/tentacle/bin/deno run --allow-all build/index.js
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tentacle-web

[Install]
WantedBy=multi-user.target
